body {
    margin: 0;
    background: #ecf3f3;
  }
  
  
  .w3-third{
    position: relative;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {left:0px; top:0px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }
  
  
      
  @font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
  
  
  /* ---- particles.js container ---- */
  
  #particles-js{
    width: 100%;
    height: auto;
    background-color: #270092;
    background-image: url('');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  