@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
	font-family: 'Amatic SC', cursive;
	background-color: #6b6b6b;
	color: #7ca9fd;
}

p {
	font-size: 3em;
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	opacity: 0;

}

.text{
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	position: fixed; 
	display: table;
}

.t1{
	animation: t-animation 6s;
}

.t2{
	animation: t-animation 6s;
	animation-delay: 6s;
}

.end{
	animation: end-animation 2s;
	animation-delay: 12s;
	animation-fill-mode: forwards; 
}

.flicker{
	animation: flicker 10s infinite;
}

@keyframes t-animation {
	0% {opacity: 0;}
	30% {opacity: 1;}
	70% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes end-animation {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes flicker {
	40.1% {left:0px;top:0px;}
	40.2% {left:10px;top:8px;}
	40.3% {left:0px;top:0px;}

	90.1% {left:0px;top:0px;}
	90.2% {left:-5px;top:3px;}
	90.3% {left:0px;top:0px;}
}