body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0)), url(images/dc.jpg);
      }

canvas#canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
              }

.centertext {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  height: 100vh;
            }


.shadow {
  text-align: center;
  color: white;
  font: bold 92px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px purple,
      2px 2px purple,
      3px 3px purple;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition: all 0.12s ease-out;
  -ms-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
        }

@-webkit-keyframes glow {
          from {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
          }
          to {
            text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
          }
        }
      
      
